<nav class="app-menu" aria-label="Navegació principal">
  <button
    type="button"
    class="menu-button"
    [class.menu-button-active]="activePage === 'rankings'"
    routerLink="/app/rankings">
    Rankings
  </button>
  <button
    type="button"
    class="menu-button"
    [class.menu-button-active]="activePage === 'laLlista'"
    routerLink="/app/la-llista">
    La llista
  </button>
  <button
    type="button"
    class="menu-button"
    [class.menu-button-active]="activePage === 'pendentCompra'"
    routerLink="/app/pendent-compra">
    Pendent comprar
  </button>
  <button
    type="button"
    class="menu-button"
    [class.menu-button-active]="activePage === 'aQueJuguem'"
    routerLink="/app/a-que-juguem">
    A què juguem?
  </button>

  <button
    type="button"
    class="menu-button"
    [class.menu-button-active]="activePage === 'partidas'"
    routerLink="/app/partidas">
    Partides
  </button>

  <button
    type="button"
    class="menu-button"
    [class.menu-button-active]="activePage === 'juegos'"
    routerLink="/app/juegos">
    Ludoteca
  </button>

  <button
    *ngIf="primaryLabel"
    type="button"
    class="menu-button menu-button-primary"
    (click)="onPrimaryAction()">
    {{ primaryLabel }}
  </button>

  <button
    type="button"
    class="menu-button"
    [class.menu-button-active]="activePage === 'usuario'"
    routerLink="/app/usuario">
    Usuari
  </button>

  <button type="button" class="menu-button" (click)="refresh()">Refrescar</button>

  <button type="button" class="menu-button" (click)="onLogout()">Sortir</button>
</nav>
